<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="star"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  <h1>
    The page you are looking for was sent to the shadow realm.
  </h1>
  
</body>
</html>
